.blog-summary {
    margin-bottom: 200px;
    scroll-margin-top: 17rem;
}

h2{
    text-align:center;
}

/* Adicione as seguintes regras CSS ao seu arquivo extends.css ou dentro de um bloco <style> na seção <head> do seu HTML */

/* Contêiner de vídeo para controlar a proporção de aspecto */
.video-abertura {
    position: relative;
    padding-bottom: 56.25%; /* Proporção de aspecto 16:9 (altura / largura) */
    height: 0;
    overflow: hidden;
  }
  
  /* Iframe dentro do contêiner de vídeo */
  .video-abertura iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  